<!DOCTYPE html>
<html>
<body>

<head>
    <style type="text/css">

        #userpic{
            width: 30px;
            height: 30px;
            border-radius: 20px;
        }
        #messagepic{
            width: 286px;
            height: 200px;
        }
    </style>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="#"><h2>Doska.by</h2> онлайн площадка обьявлений</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>

            <div>
                {{#users}}
                <div>
                    <span> <img id="userpic" src="{{userpic}}" /></span>
                    <span>{{name}}</span>
                {{/users}}
                <a href="/logout" class="btn btn-outline-primary">Выйти</a>
            </div>
        </ul>
        <form action="/search" method="post" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="search" type="search" placeholder="Введите город" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Поиск</button>
        </form>
    </div>
</nav>
<div class="my-3">
    <a class="btn btn-primary btn-lg btn-block bg-primary " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" >
        Добавить Обьявление
    </a>
</div>
<div class="collapse m-3" id="collapseExample" >
    <form  action="/main" method="post" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
            </div>
            <input class="form-control" type="text" name="text" placeholder="Enter text"/>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Ваш город</span>
            </div>
            <input type="text" name="city" class="form-control">
        </div>
        <input type="file" name="file">
        <button type="submit">Insert</button>
    </form>
</div>
<div class="pl-5">
<div class="card-columns my-3">
    {{#messages}}
        <div class="card " style="width: 18rem;">

            <img id="messagepic" class="card-img-top" src="/img/{{file_name}}" >
            <h5 class="card-title">{{city}}</h5>
            <h6 class="card-title">{{author}}</h6>
            <div class="card-body">
                <p class="card-text">{{text}}</p>
            </div>
        </div>
    {{/messages}}
</div>
</div>
</body>
</html>